<template>
  <app-layout>
    <template #header>
      <header>
      <ul class="flex">
        <li class="mr-3">
         <inertia-link :href="route('dashboard')" class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white">Dashboard</inertia-link>
          
        </li>
        <li class="mr-3">
          <inertia-link :href="route('products')" class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3">Products</inertia-link>
        </li>
        <li class="mr-3">
          <inertia-link :href="route('shopify')" class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3">Shopify</inertia-link>
        </li>
      </ul>     
      </header>

      
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
          <div class="p-6 sm:px-20 bg-white border-b border-gray-200">
          <div class="mt-8 text-2xl">Welcome to Demo!</div>
      <div class="mt-6 text-gray-500">
        Hope you like it
      </div>
    </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'


export default {
  components: {
    AppLayout,
    
  },
}
</script>
