<template>
  <app-layout>
    <template #header>
      <header>
      <ul class="flex">
        <li class="mr-3">
         <inertia-link :href="route('dashboard')" class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3">Dashboard</inertia-link>
          
        </li>
        <li class="mr-3">
          <inertia-link :href="route('products')" class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white">Products</inertia-link>
        </li>
        <li class="mr-3">
          <inertia-link :href="route('shopify')" class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3">Shopify</inertia-link>
        </li>
      </ul>
                
      </header>

      
    </template>
    
    <div class="flex justify-center items-center min-h-screen bg-gray-100">
    
  <div class="w-full md:w-1/3 p-2" v-for="item in $page.props.Products" :key="item.id">
    <div class="bg-white shadow-lg hover:shadow-xl rounded-lg ">
      <div class="bg-gray-400 h-64 rounded-t-lg p-4 bg-no-repeat bg-center bg-cover" v-bind:style="{ 'background-image': 'url(' + item.image.src + ')' }">
        <div class="text-right">
          <button class="text-pink-500 hover:text-pink-600 p-2 rounded-full" style="background: rgba(0,0,0,0.3)">
            <svg class="w-6 h-6" viewBox="0 0 24 24">
              <path fill="currentColor" d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="flex justify-between items-start px-2 pt-2">
        <div class="p-2 flex-grow">
          <h1 class="font-medium text-xl font-poppins">{{item.title}}</h1>
          <p class="text-gray-500 font-nunito"></p>
        </div>
        <div class="p-2 text-right">
          <div class="text-teal-500 font-semibold text-lg font-poppins"></div>
          <div class="text-xs text-gray-500 line-through font-poppins"></div>
        </div>
      </div>
      <div class="flex justify-center items-center px-2 pb-2">
        <div class="w-1/2 p-2">
          
        </div>
        <div class="w-1/2 p-2">
          
        </div>
      </div>
    </div>
  </div>
    
</div>
    
  </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import Welcome from '@/Jetstream/Welcome'

export default {
  components: {
    AppLayout,
    Welcome,
  },
}
</script>
