<template>
  <app-layout>
    <template #header>
      <header>
      <ul class="flex">
        <li class="mr-3">
         <inertia-link :href="route('dashboard')" class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3">Dashboard</inertia-link>
        </li>
        <li class="mr-3">
          <inertia-link :href="route('products')" class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3">Products</inertia-link>
        </li>
        <li class="mr-3">
          <inertia-link :href="route('shopify')" class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white">Shopify</inertia-link>
        </li>
      </ul>
                
      </header>

      
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
            <div class="p-6 sm:px-20 bg-white border-b border-gray-200">
                <div v-if="$page.props.flash.success"  role="alert">
                <div class="border border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
                    <p>{{$page.props.flash.success}}</p>
                </div>
                </div>

                <div class="mt-8 text-2xl">Connect Your Shopify Store</div>
                
                    

            <form action="saveStoreUrl" method="POST">

            <div class="col-span-3 sm:col-span-2">
                <label for="shop_url" class="block text-sm font-medium text-gray-700">
                  Store URL
                </label>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm">
                    URL:
                  </span>
                  <template v-if="$page.props.user.extras">
                    <template v-if="$page.props.user.extras.shop_url">
                    <input type="text" name="shop_url" disabled :value="$page.props.user.extras.shop_url" id="shop_url" class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300" placeholder="https://store.myshopify.com">
                    </template>
                  </template>
                  <template v-else="$page.props.user.extras">
                    <input type="text" name="shop_url" id="shop_url" class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300" placeholder="https://store.myshopify.com">
                  </template>
                  
                  <input type="hidden" name="_token" :value="csrf">
                </div>
              </div>
            
             <div class="px-4 py-3  text-right sm:px-6">
             <template v-if="$page.props.user.extras">
                    <template v-if="$page.props.user.extras.shop_url">
                    
                    </template>
                    <template v-else="$page.props.user.extras.shop_url">
                        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Save
            </button>
                    </template>
                  </template>
                  <template v-else="$page.props.user.extras">
                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Save
            </button>
                  </template>
                  <template v-if="$page.props.user.extras">
                    <template v-if="$page.props.user.extras.shop_url">
                    <template v-if="!$page.props.user.extras.shopify_token">
                        <button type="button"  class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                         <a :href="route('oAuthRequest')">Connect</a>
                        </button>
                    </template>
                    </template>
                     <template v-if="$page.props.user.extras.shopify_token">
                     <button type="button"  class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <inertia-link :href="route('disconnectStore')">Disconnect</inertia-link> 
                        </button>
                     </template>
                  </template>
            
          </div>
        </form>
            </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'


export default {
  components: {
    AppLayout,
    
  },
  data: () => ({
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
          })
}
</script>
